body{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/03/56/landscape-1844226_1280.png");
}
.Up{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Up-1{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    border-radius: 10px;
    width: 500px;
    height: 470px;  
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
i{
    position: relative;
}
#O1{
    position: relative;
    right: 15%;
}
#O2{
    position: relative;
    right: 13%;
}
#O5{
    position: relative;
    right: 55.5%;
    top: 5%;
}
#O3{
    position: relative;
    right: 55.5%;
    top: 8%;
}
#O4{
    position: relative;
    right: 55.5%;
    top: 10.7%;
}
#L1{
    position: relative;
    text-transform:uppercase;
    text-align: center;
    font-family: "Paytone One";
    color: #eee7e7;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-top: -1%;
}
h2{
    margin: 11px 0 17px 0;
    font-size: 50px;
    line-height: 80px;
    color: #f1ebe5;
    text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
    letter-spacing: -4px;
}
#L1:hover{
    color: #ff6666;
}
input {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/03/56/landscape-1844226_1280.png");
    color: #f1ebe5;
    margin-right: 0%;
    border-radius: 10px;
    padding: 0 0 0 45px;
}
#L2{
    position: relative;
    right: -16%;
    width: 320px;
    height: 30px;
    top:5%
}
#L3{
    position: relative;
    right: -16%;
    width: 320px;
    height: 30px;
    top:8%
}
#L6{
    position: relative;
    right: -16%;
    width: 320px;
    height: 30px;
    top: 10%
}
input:hover{
    background-color: #ff6666;
    color: #050801;
    box-shadow: 0 0 5px #f3f0f0,
                0 0 200px #f3f0f0,
                0 0 200px #f3f0f0 ;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
#L21 {
    position: relative;
    right: -16%;
    width: 120px;
    height: 30px;
    top:0%
}
#L22{
    position: relative;
    right: -17%;
    width: 120px;
    height: 30px;
    top:0%
}
#L5{
    position: relative;
    right: 37%;
    top: 25%;
}
button{
    padding: 5px;
    background-color: #ff6666;
    color: #eef4f5;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }
  
  button:hover{
      background: #03e9f4;
      color: #050801;
      box-shadow: 0 0 5px #03e9f4,
                  0 0 25px #03e9f4,
                  0 0 50px #03e9f4,
                  0 0 200px #03e9f4;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
